body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

   

}

  
.fix
{
    clear: both;
    overflow: hidden;
}
header{
    overflow: hidden;
    height: 100vh;
}
.vid-bg{
    position: fixed;
    right: 0;
  
    top: 0;
    min-width: 100%;
    min-height: 100%;

}

.nav-area{
    background: rgba(74, 73, 72, 0.431);
    height: 60px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 91.20%;
    
}

.logo{
    margin: 10px 30px;
    height: 60px;
    float: left;
    color: #ffffff;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:'Times New Roman', Times, serif;


}

.logo span{
    color: rgb(255, 255, 255);

}

.menu-area{
    float: left;
    list-style: none;
    margin: 20px; 
   
}
.menu-area li{
    display: inline-block;
    margin: 0 5px;

}
.menu-area li a{
    text-decoration:none;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-area li.active a{
    color: rgb(246, 247, 251);

}

.menu-area li a:hover{
    color:rgba(198, 137, 197, 0.953);
}

.banner-text{
    position: absolute;
    top: 200px;
    text-align: center;
    left: 30px;
}

.banner-text h2{
    color:#fff;
    font-size: 80px;
    margin: 0;



}

.banner-text h2 span{
    color: rgb(255, 255, 255);
}
.banner-text p{
    color: #fff;
    font-size: 38px;
    margin: 0;
    font-weight: bold;
   
}
.banner-text p:hover{
    text-shadow: 2px 2px 2px #e5b739ef;
    
}

.btn{
    background-color: #04aa6dbd;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: absolute;
    top: 250px;
    right: 550px;
    
}

.btn:hover{
  
    color: rgb(120, 218, 243);
}

.menu {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(221, 236, 231);
}

.menu h1 {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Anton', sans-serif;


}

.menu p {
    color: cadetblue;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
 
}

.menu img {
    width: 200px;
    height: 200px;

}

.row {
    display: flex;justify-content: space-between;
}


.menu-col {
    flex-basis: 30%;
    background-color: rgb(127, 127, 245);
    border-radius: 50px;
    margin-bottom: 0%;
    padding: 0px 0px;
    box-sizing: border-box;
    
}

.menu-col p {
 color: black;
 font-size: 19px;
}

.menu-col:hover {
    border: 1px solid darkblue;
    background: rgb(64, 64, 209);
}

.reviews{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(221, 236, 231);
    padding: 2.5rem;;
}

.mid-text {
  width: 1220px;
  height: 250px;
  padding: 10px;
  position: absolute;
  top: 550px;
  left: 7px;
  border: 2px solid gray;
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238, 174, 202, 0.737) 0%, rgba(148, 188, 233, 0.718) 100%);


}
.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 220px; 
    margin: 1px;
  }
  .column :hover {
    background-color: rgba(172, 145, 240, 0.609);
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }  
  .column h2 {
    color: #fff;
    font-size:xx-large;
    margin: 1px;

  }
  .column img {
    width: 370px;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    margin-top: auto;
  }
  
  .about {
    margin-right: 700px;
    margin-top: 20px;
    margin-left: 200px;
 
  }

  .about img {
    width: 300px;
    height:auto;
    position: absolute;
    top: 10px;
    left: 700px;

  }
  .ba {
    width: 1220px;
    height: 250px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
    position:absolute;
    top: 900px;
    left: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(238,174,202,1));
    

  }
  footer {
    position:relative;
    width: 100%;
    bottom: 0;
    top: 1000px;
    background: #5784f7d3;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .social_icon, 
  footer.menu22 
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    right: 70px;
    flex-wrap: wrap;
  }
  .menu22 {
    background: #5784f7d3;
  }
  

  footer .social_icon li,
  footer .menu22 li a {
    list-style: none;

  }
  footer .social_icon li a,
  footer .menu22 li
   {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    align-items: center;
  }
  footer .social_icon li a:hover
  {
    transform: translateY(-10px);

  }
  footer .menu22 li a
  {
   font-size: 1.2em;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   text-decoration: none;
   opacity: 0.75;
   background:#5784f7d3;
 }
 footer .menu22 li a:hover{
    opacity: 1;
 }

 footer p {

    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    
 }
 footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
 } 
 footer .wave#wave1{
    z-index: 1000;
    opacity: 0.75;
    bottom: 0;
    animation: animateWave 4s linear infinite;
 }
 footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
 }
 footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
 }
 footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
 }

 @keyframes animateWave
 {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
 }
 @keyframes animateWave_02
 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
 }
 
